
@font-face {
    font-family: 'Inter-medium';
    src: url('../../fonts/Inter-Medium.woff2') format('woff2'),
        url('../../fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter-Regular.woff2') format('woff2'),
        url('../../fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
  margin: 0;
  font-family: 'Inter' 'Courier New',
    monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}




button {
  background-color: #DAC2F2;
  border: none;
  border-radius: 24px;
  width: 192px;
  height: 48px;
  font-size: 16px;
}


nav {
  display: flex;
  height: 73px;
  border-bottom: 1px solid #F1F0F0;
}



testimonial

div {
  background-color: #231E1E;
}

h3 {
  color: #F1F0F0;
}

figcaption {
  color: #989898;
}